%blockcentering {
	display: flex;
	align-items: center;
	justify-content: center;
}
%blocksize {
	height: 500px;
	min-width: 50%;
}
%registrationText {
	text-transform: uppercase;
	font-weight: 800;
	font-size: 12px;
	span {
		color: #428A60;
	}
}
%registrationInput {
	padding: 2px 0 0 19px;
	background: #F8F8F8;
	border: 1px solid #E4E4E4;
	box-sizing: border-box;
	border-radius: 5px;
	height: 50px;
	font-weight: 600px;
	font-size: 14px;
	line-height: 18px;
}

$fSixe18: 18px;
$fSize14: 14px;
$fSize12: 12px;

body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family:'Montserrat', sans-serif;
	background-color: #E5E5E5;
}
.reduslim {
	display: flex;
	justify-content: center;
	&__wrap {
		min-height: 650px;
		max-width: 1120px;
		width: 100%;
		@extend %blockcentering;
	}
}
.container1 {
	@extend %blocksize;
	color: #fff;
	background-color: #35734F;
	&__wrap {
		margin: 40px 0 0 40px;
	}
	&__header {
		font-weight: 700;
		font-size: $fSixe18;
		margin-bottom: 380px;
	}
	&__disc {
		font-size: $fSixe18;
	}
	&__logo {
		position: relative;
	}
}
.logo__ellipse {
	position: absolute;
	bottom: -20px;
	right: 140px;
	max-width: 400px;
	width: 100%;
}
.logo__tablet {
	position: absolute;
	bottom: -20px;
	right: 45px;
	max-width: 460px;
	width: 100%;
}
.container2 {
	@extend %blocksize;
	background-color: #fff;
	&__header {
		padding: 30px;
		line-height: 130%;
		text-align: center;
		background-color: #F8F8F8;
		font-weight: 800;
		font-size: 30px;
		margin-bottom: 50px;
	}
}
.registration {
	display: flex;
	justify-content: center;
	align-items: center;
	&__name {
		@extend %registrationText;
		margin-bottom: 11px; 
	}
	&__input {
		@extend %registrationInput;
		&.name {
			max-width: 320px;
			width: 100%;
			margin-bottom: 21px;
		}
		&.phone {
			width: 184px;
			margin-right: 23px;
		}
	}
	&__phone {
		@extend %registrationText;
		margin-bottom: 11px;
	}
	&__wrap {
		max-width: 320px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-bottom: 39px;
	}
	&__country {
		@extend %registrationInput;
		padding-left: 10px;
		text-transform: uppercase;
		font-size: 14px;
		width: 116px;
		display: flex;
		justify-content: space-between;

	}
	&__button {
		cursor: pointer;
		box-sizing: border-box;
		border-radius: 5px;
		height: 42px;
		font-weight: 600px;
		font-size: 14px;
		line-height: 18px;
		background-color: #428A60;
		color: #fff;
		max-width: 320px;
		width: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		.text {
			margin-right: 10px;
		}		
	}
	&__secure {
		display: none;
	}
}
.ru {
	cursor: pointer;
	background: url(src/ru.png) no-repeat;
	background-size: 27px;
	background-position: 60% 50%;
}
.eng {
	cursor: pointer;
	background: url(src/eng.PNG) no-repeat;
	background-size: 25px;
	background-position: 60% 50%;
}
.arrow {
	cursor: pointer;
	position: relative;
	&__right {
		position: relative;
	    width: 15px;
	    height: 2px;
	    background-color: #fff;
	    left:0;
	    display: block;
	}
	&__right::after {
		content: '';
	    position: absolute;
	    width: 7px;
	    height: 2px;
	    left: 11px;
	    top: -2px;
	    background-color: #fff;
	    transform: rotate(45deg);
	}
	&__right::before {
		content: '';
	    position: absolute;
	    width: 7px;
	    height: 2px;
	    left: 11px;
	    top: 2px;
	    background-color: #fff;
	    transform: rotate(-45deg);
	}
}


@media (max-width: 1130px) {
	.logo__ellipse {
		max-width: 300px;
		bottom: 30px;
	}
	.logo__tablet {
		max-width: 350px;
		bottom: 30px;
	}
}
@media (max-width: 767px) {
	.container2__header {
		font-size: 20px;
	}
}
@media (max-width: 660px) {
	.container2__header {
		font-size: 14px;
	}
	.registration {
		&__input {
			&.name {
				max-width: 200px;
			}
			&.phone {
				margin-bottom: 15px;
			}
		}
		&__wrap {
			max-width: 200px;
			display: block;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 420px) {
	.logo__ellipse {
		bottom: 90px;
		right: 50px;
	}
	.logo__tablet {
		bottom: 90px;
		right: 10px;
	}
	.container2 br {
		content: "";
	}
	.registration {
		margin-left: 15px;
		&__input {
			&.name {
				max-width: 150px;
			}
			&.phone {
				width: 150px;
			}
		}
		&__country {
			width: 100px;
		}
		&__button {
			max-width: 150px;
		}
	}
}

@media (max-width: 320px) {
	.reduslim__wrap {
		flex-direction: column;
		min-height: 727px;
	}
	.container1 {
		min-width: 100%;
		height: 311px;
		margin-top: 58px;
		background-color: #fff;
		color: #000;
		&__wrap {
			margin: 40px 20px 0 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__header {
			margin: 0;
			font-size: 18px;
			line-height: 130%;
		}
	}
	.logo__ellipse {
		width: 202px;
		top: 25px;
		left: -125px;	
	}
	.logo__tablet {
		width: 225px;
		top: 70px;
		left: -130px;
	}

	.container2 {
		min-width: 100%;
		height: 416px;
		br {
			content: "";
		}
		&__header {
			font-size: 30px;
			margin: 0;
			padding: 0 0 30px 0; 
			background-color: #fff;
		}
	}
	.registration {
		margin-left: 0;
		&__input {
			padding: 2px 0 0 11px;
			&.name {
				max-width: 280px;
			}
			&.phone {
				width: 174px;
			}
		}
		&__wrap {
			display: flex;
			max-width: 280px;
			margin-bottom: 15px;
		}
		&__button {
			max-width: 280px;
			margin-bottom: 37px;
		}
		&__wrap2 {
			max-width: 160px;
			margin: 0 auto;
		}
		&__secure {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-weight: bold;
			font-size: 14px;
			line-height: 130%;
		}
		&__country {
			font-size: 10px;
		}
	}
	.ru {
		background-size: 20px;
	}
	.eng {
		background-size: 20px;
	}
}





	
